# MongoDB
MONGODB_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/reparto-gastos?retryWrites=true&w=majority

# Entorno
NODE_ENV=development

# Puerto (opcional, por defecto 3000)
# PORT=3000
